<footer>
    <div>
        <%if(user){%>
          <img src = "/images/<%=user.avatar%>.svg" alt = "user"/>
          <p><a id = "profile-link" href = "/user/<%=user._id%>"><%=user.username%></a></p>
        <%} else{%>
              <img src = "/images/spy.svg" alt = "user"/>
              <a href = "/log-in" id = "profile-link">log in</a>
            <%}%>
    </div>
    <a id = "gh-link" href = "https://github.com/minho-sama/OnlyFriends" target = "_blank">
        minh <img src = "/images/github.svg" alt = "github-logo"/>
    </a>
</footer>
<script>
  window.onscroll = function() {
    const nav = document.querySelector('footer');
    if ( window.pageYOffset > 80 ) {
        nav.classList.add("footer-top-gold");
    } else {
        nav.classList.remove("footer-top-gold");
    }
}
</script>