<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> OnlyFriends</title>
    <link rel = "stylesheet" href = "/stylesheets/style.css">
    <link rel="icon" href="/images/spy.svg"/>
</head>