<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <form id = "submit-form" action = "" method = "POST">
        <h1>Create a Message !</h1>
        <img id = "submit-form-avatar" src = "/images/alien.svg" alt = "alien"/>
        <div class = "input-field">
            <input id = "create-message-title" 
                name = "title"
                type= "text"
                placeholder = "Enter a title"
            required>
            <textarea id = "create-message-body" 
                name = "message"
                placeholder = "Enter a message"
            required></textarea>
            <button type = "submit">Send Message</button>
        </div>
    </from>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>