<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/navbar.ejs")%>
    <form id = "submit-form" style = "margin-top: 50px" action = "/sign-up" method = "POST">
        <h1>Sign up to OnlyFriends</h1>
        <img id = "submit-form-avatar" src = "/images/connect.svg" alt = "people"/>
        <div class = "input-field-signup">
            <input id = "username" 
                name = "username"
                type= "text"
                placeholder = "Create username"
            >
            <input id = "password" 
                name = "password"
                placeholder = "Create Password"
                type = "password"
            ></input>
            <%if(errors.length > 0){%>
                <%errors.forEach(error => {%>
                    <p id = "err-msg-signup"><%=error.msg%></p>
                <%})%>
            <%}%>
            <label id = "choose-caption" for = "cc-selector">Choose an avatar:</label>
            <div class="cc-selector">

                <input id="spy" type="radio" name="avatar" value="spy" />
                <label class="avatar-cc spy" for="spy"></label>

                <input id="alien" type="radio" name="avatar" value="alien" />
                <label class="avatar-cc alien" for="alien"></label>

                <input id="robot" type="radio" name="avatar" value="robot" />
                <label class="avatar-cc robot" for="robot"></label>

            </div>

            <button type = "submit">Sign Up</button>
        </div>
    </from>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>