@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import './style-partials/scrollbar';
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@mixin flex-align-vertical(){
  display:flex;
  align-items: center;
}

body {
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: rgb(34, 33, 33);
}

@import './style-partials/nav';

#message-wall{
  margin:20px auto 70px;
  section{
    background: rgb(10, 10, 10);
    box-shadow: 3px 0px 3px rgba(0,0,0,0.3);
    width: 90%;
    padding:20px;
    text-align: justify;
    margin:auto 5% 20px;
    border-radius: 5px;
    position:relative;
    min-height: 200px;
    .avatar{
      display:none;
    }
    h3{
      margin-bottom: 10px;
    }
    p{
      background-color: rgb(34, 33, 33);
      padding:10px;
      margin: 10px auto;
      border-radius:4px;
      min-height: 93px;
      min-width: 85%;
      a{
        color:#d1b848;
        font-weight: 600;
        text-decoration: none;
        transition:0.2s;
        &:hover{
          color: #9e840e
        }
      }
    }
    #date{
      float:right;
      font-size: 12px;
      color:rgb(180, 179, 179);
    }
    #username{
      display:flex;
      align-items: center;
      gap:5px;
      position:absolute;
      top:17px;
      right:16px;
      img{
        width:15px;
      }
    }
    .spy-color{
      color:rgb(212, 179, 28);
    }
    .alien-color{
      color:rgb(22, 146, 140);
    }
    .robot-color{
      color:rgb(181, 230, 231);
    }
  }
}

@media only screen and (min-width: 850px) {
  #message-wall{
    section{
      display:flex;
      gap:20px;
      width:60%;
      margin: 35px 20%;
      .avatar{
        display:block;
        width: 140px;
      }
      p{
        min-width: 320px;
      }
    }
  }
}

@media only screen and (min-width: 1150px) {
  #message-wall{
    section{
      width:45%;
      margin: 35px 27.5%;
      p{
        min-width: 330px;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  #message-wall{
    section{
      p{
        min-width: 390px;
      }
    }
  }
}

@media only screen and (min-width: 1370px) {
  #message-wall{
    section{
      p{
        min-width: 450px;
      }
    }
  }
}

@import './style-partials/profilePage';
@import './style-partials/adminBoard';
@import './style-partials/submit-form';
@import './style-partials/signUp';
@import './style-partials/footer';





