#profile-page{
    width: 90%;
    margin: 40px 5% 70px;
    margin-top:40px !important;
    padding: 30px;
    display:flex;
    flex-direction:column;
    gap:40px;
    align-items:center;
    justify-content: center;
    box-shadow: 3px 0px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    background: rgb(10, 10, 10);
    h1{
        text-align: center;
        font-size: 25px;
    }
    #profile-page-avatar{
        width:60px;
    }

    .spy-color{
      color:rgb(212, 179, 28);
    }
    .alien-color{
      color:rgb(22, 146, 140);
    }
    .robot-color{
      color:rgb(181, 230, 231);
    }

    #profile-info-table{
        font-size:15px;
        width: 270px;
        background: #222121;
        border-radius:3px;
        padding:10px;
        border-spacing:10px;
        img{
            width:12px;
            padding-top:3px;
        }
        tr{
            td:nth-child(even){
                text-align: center;
                color:#d4b31c;
            }
        }
            
    }
    #btn-update-avatar{
        padding: 3px;
        cursor: pointer;
        background:rgb(212, 179, 28);
        border:none;
        border-radius: 2px;
        font-weight: 600;
    }
}

#choose-caption{
    color:#d4b31c;
}

#user-messages{
    border-top: 2px solid rgb(78, 78, 78);
    padding-top:35px;
    width:100%;
    h3{
        color:#d4b31c;
        text-align:center;
    }
    ul{
        margin-top:30px;
        li{
            list-style: none;
            display:flex;
            margin: 10px auto;
            div{
                width: 33%;
                margin:5px;
                &:nth-last-child(-n+2){
                    display: flex;
                    justify-content:center;
                }
                a{
                    cursor:pointer;
                    color:#fff;
                    text-decoration: none;
                    img{
                        width:14px;
                        padding-top:2px;
                    }
                 }
            }
        }
        h4{
            text-align:center;
            a{
                color: #d4b31c;
                text-decoration:none;
                transition:0.2s;
                &:hover{
                    color: #a18814
                }
            }
        }
    }
}

@media only screen and (min-width: 800px){
    #profile-page{
        min-height: 480px;
        width: 70%;
        margin: 100px 15%;
        #profile-info-table{
            width:350px;
        }
    }
}

@media only screen and (min-width: 1200px){
    #profile-page{
        width: 50%;
        margin: 100px 25%;
        #profile-info-table{
            width:400px;
        }
    }
}